.start-screen-container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: #404040;
    display: flex;
    justify-content: center;

    >.game-title {
        position: absolute;
        top: 25%;
        color: white;
        font-size: 96px;
        text-align: center;
        transform-origin: center;
        >p {
            font-size: 64px;
            margin: 16px 0;
        }
        
        // Für Halbkreis-Text müssen Sie jeden Buchstaben einzeln positionieren
        span {
            position: absolute;
            left: 50%;
            transform-origin: 0 200px; // Radius des Halbkreises
        }
        
        // Alternativ: Einfacher gebogener Effekt
        transform: perspective(500px) rotateX(15deg);
        text-shadow: 0 10px 20px rgba(0,0,0,0.5);
    }
}

.sign-container {
    position: absolute;
    bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    .play-sign {
        width: 25vw;
        height: auto;
        &:hover {
            cursor: pointer;
            filter: brightness(1.2);
        }
    }
}